<!DOCTYPE html>
<html>
<head>
	<title>E-Mail Alias</title>
	<!-- use viewport as per device width (browser, small device etc.,) -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- link to bootstrap pre-defined stylesheet -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<!-- bootstrap required every thing in a container -->
	<div class="container">
		<header>
			<div class="row">
				<div class="col-md-6">
					<a href="{{ url_for('index') }}">Home</a>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col-md-6">

				</div>
			</div>
		</header>

		<div class="row">
			<div class="col-md-12">
				<h1>E-Mail Alias</h1>
			</div>
		</div>

		<!-- main block for other templates to add their own content -->
		<div class="container" id="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<hr>
			<p class="text-muted">Mail Alias &copy; 2019 </p>
		</footer>
	</div>
</body>
</html>
