<!-- Inherit from main templates -->
{% extends "base.html" %}

<!-- start block for this child template -->
{% block content %}

<script language="JavaScript">
var counter = 1;
function addEmail() {
    // add a new text input for another email
    counter++;
    console.log("Function is called!");
    // Create a new element for another forward address
    var newEmail = document.createElement("input");
    newEmail.type = "text";
    newEmail.id = "email" + counter;
    newEmail.name = "email" + counter;
    // Get the current email element
    var emailText = document.getElementById("email1");
    // Get a reference to the parent node
    var parentDiv = emailText.parentNode;
    parentDiv.insertBefore(newEmail, emailText);

    var counter_field = document.getElementById("forw_addr_cnt");
    // email_counter_field.innerHTML = "Function addEmail() is called!";
    counter_field.value = counter;
}
</script>

<form class="form-horizontal" method="post" name="emails">
	<div class="form-group row">
		<label for="alias" class="control-label col-md-6">Alias address</label>
		<input type="text" class="form-control col-md-6" id="alias" name="alias">
	</div>

	<div class="form-group row" id="input_emails" name="input_emails">
    <!-- element id vs name:
         id: used for easy access to element in Javascript/CSS (getElementById(<id>)
         name: used to identify elements in form when browser sent to server (key-value of a dictionary like object!-->
		<label for="email" class="control-label col-md-4">Email</label>
		<input type="text" class="form-control col-md-6" id="email1" name='email1'>
		<input type="button" class="btn btn-secondary btn-sm col-md-2" id="addemail" 
            onclick="addEmail()" value="Add">
		<input type="hidden" class="col-md-4" id="forw_addr_cnt" name="forw_addr_cnt" value="1">
	</div>

	<div class="form-group row">
		<button class="btn btn-primary" name="post_action" value="cancel_alias">cancel</button>
		<button class="btn btn-primary" name="post_action" value="save_alias">submit</button>
	</div>
</form>

{% endblock %}
