<!-- Inherit from main templates -->
{% extends "base.html" %}

<!-- start block for this child template -->
{% block content %}

<script language="JavaScript">
var counter = 1;
function addEmail() {
    // add a new text input for another email
    counter++;
    console.log("Function is called!");
    // Create a new element for another forward address
    var newEmail = document.createElement("input");
    newEmail.type = "text";
    newEmail.id = "email" + counter;
    newEmail.name = "email" + counter;
    // Get the current email element
    var emailText = document.getElementById("email1");
    // Get a reference to the parent node
    var parentDiv = emailText.parentNode;
    parentDiv.insertBefore(newEmail, emailText);

    var counter_field = document.getElementById("forw_addr_cnt");
    // email_counter_field.innerHTML = "Function addEmail() is called!";
    counter_field.value = counter;
}
</script>

<hr>
<div class="row">
<div class="col">
{% if name and (name == 'edit_alias' or name == 'delete_alias') %}
    <h4>Modify Alias</h4>
{% elif name and name == 'new_alias' %}
    <h4>Create new Alias</h4>
{% endif %}
</div>
</div>

<form class="form-horizontal" method="post" name="emails">
    {% if exist and exist == True and alias_addr and forw_addr %}
        <p class="text-danger">Alias <strong>{{alias_addr}}</strong> with forward address <strong>{{forw_addr}}</strong> already exists! Please choose other alias.</p>
    {% endif %}
	<div class="form-group row">
		<label for="alias" class="control-label col-sm-2">Alias address</label>
        {% if alias_addr %}
		    <input type="text" class="form-control col-sm" id="alias" name="alias" value={{alias_addr}}>
        {% else %}
		    <input type="text" class="form-control col-sm" id="alias" name="alias">
        {% endif %}
	</div>

	<div class="form-group row" id="input_emails" name="input_emails">
    <!-- element id vs name:
         id: used for easy access to element in Javascript/CSS (getElementById(<id>)
         name: used to identify elements in form when browser sent to server (key-value of a dictionary like object!-->
		<label for="email" class="control-label col-sm-2">Email</label>
        {% if forw_addr %}
		    <input type="text" class="form-control col-sm" id="email1" name='email1' value={{ forw_addr }}>
        {% else %}
		    <input type="text" class="form-control col-sm" id="email1" name='email1'>
        {% endif %}
        {% if name and (name == 'new_alias') %}
		    <input type="button" class="btn btn-secondary btn-sm col-sm-1 m-1" id="addemail" 
            onclick="addEmail()" value="Add">
		    <input type="hidden" class="col-md-4" id="forw_addr_cnt" name="forw_addr_cnt" value="1">
        {% endif %}
	</div>

	<div class="form-group row">
		<button class="btn btn-warning m-1" name="post_action" value="cancel_alias">cancel</button>
        {% if name and (name == 'edit_alias') %}
		    <button class="btn btn-primary m-1" name="post_action" value="edit_alias">save</button>
        {% elif name and name == 'new_alias' %}
		    <button class="btn btn-primary m-1" name="post_action" value="save_alias">save</button>
        {% endif %}
	</div>
</form>

{% endblock %}
